<?xml version="1.0"?>
<odoo>
    <menuitem name="Vacations"
              id="vrs_main_menu"
              web_icon="vrs,static/description/icon.png"
              groups="vrs.vrs_requester,vrs.vrs_approver,vrs.vrs_admin"
              sequence="1">
        <menuitem name="Employees"
                  id="vrs_employee_menu"
                  sequence="9"
                  groups="vrs.vrs_admin"
                  action="action_vrs_employee"/>
        <menuitem name="New request"
                  id="vrs_request_menu"
                  sequence="3"
                  groups="vrs.vrs_requester,vrs.vrs_approver"
                  action="vrs_request_wizard_action_all"/>
        <menuitem name="All requests"
                  id="vrs_my_requests_menu"
                  sequence="10"
                  groups="vrs.vrs_admin"
                  action="action_vrs_request"/>
        <menuitem name="My subordinates"
                  id="vrs_request_approve_menu"
                  sequence="2"
                  groups="vrs.vrs_approver"
                  action="action_vrs_request_view"/>
        <menuitem id="menu_vrs_request_my_requests_view"
                  action="vrs_request_my_requests_view_action_all"
                  sequence="1"
                  groups="vrs.vrs_requester,vrs.vrs_approver"/>
    </menuitem>
</odoo>